<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="Styles.css">
    <title>hobbies</title>
</head>
<body>
    <p><h1>My hobbies are </h1>
        <h3>
        <ul>
            <li>litsening music</li>
            <li>nature photography</li>
            <li>researching about new technologies and new electronic parts</li>
            <li>cycling</li>
        </ul>
    </h3>
    </p>
    <!-- jkejgi -->
    <a href="PERSONAL Site.html">Back</a>
</body>
</html>